<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <link rel="stylesheet" href="/css/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <script src="/lib/echarts.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/jquery.min.js"></script>
	<th:block th:include="include :: header('卡片列表')" />
	<style type="text/css">
	.row h1 {
		font-size: 20px;
	}
	
	.col-sm-2 {
		padding: 2px;
		margin-top: 2px;
	}
	
	.ibox {
		margin: 0 0 1px;
	}
	</style>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/showtime.js"></script>
    <script type="text/javascript" src="/js/jquery.contextMenu.min.js"></script>
    
  </head>
  
  <body>
    <div class="x-body">
     <!--  <div class="layui-row">
     
      </div> -->

      <table class="layui-table">
        <thead>
          <tr>
            <th>测试点号</th>
            <th>设备ID</th>
            <th>X轴数据</th>
            <th>Y轴数据</th>
            <th>温度</th>
            <th>采集仪电压</th>
            <th>记录时间</th>
          </tr>
        </thead>
        <tbody class="trhtml">
           
        </tbody>
      </table>
     <!--  <fieldset>
        <div class="charts-box">
          <div id="chart1" style="height:500px"></div>
          <div id="chart2" style="height: 500px"></div>     
        </div>
      </fieldset> -->
    </div>
   
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

     
      /*设备1的表格数据*/
     function showData() {
        $.ajax({
          type: 'post',
          async : true,//是否异步请求
          url: 'http://114.55.243.223/openapi/singlewirelesspowsaving/devicedata',
          contentType: "application/json;charset=utf-8",
          data: JSON.stringify({"device_id":"323869557729001474","page_num":1,"page_size":18}),
          dataType: 'json',
          success: function (result) {
            var data = result.data; //要导出的json数据
//          	collector_temperature: 20.968262
//				collector_voltage: 6.756342
//				create_time: "2020-11-05 09:19:08"
//				sensor1_temperature: 20.968262
//				x_angle: -244.82034
//				y_angle: -59.521046
            //data = data.reverse();        /* data.reverse(); */
            var s = "";
            for (var i = 0; i < data.list.length; i++) {
              s+= "<tr>"+      
            	  "<td>"+"1#设备"+"</td>"            /*测试点号*/
                        +"<td>"+"323869557729001474"+"</td>"        /*设备ID*/
                        +"<td>"+data.list[i].x_angle+"</td>"       /*X轴数据*/
                        +"<td>"+data.list[i].y_angle+"</td>"       /*Y轴数据*/
                        +"<td>"+data.list[i].collector_temperature+"</td>"       /*温度*/
                        +"<td>"+data.list[i].collector_voltage+"</td>"    /*采集仪电压*/
                        +"<td>"+data.list[i].create_time+"</td>"
                        +"</tr>";     /*记录时间*/
            }
           $(".trhtml").append(s);
          },
	          error : function (arg1) {
	              alert("加载数据失败");
	              console.log(arg1);
	          }
        })
      }
      showData();
    </script>

  </body>

</html>
